<div class="container-fluid footer mt-5">
  <div class="row">
    <!-- name  -->
    <div class="col-lg-6 mt-3 mb-3">
      <h1>Shopperia</h1>
      <p>Shopping is never a bad idea</p>
      <p>"Treat yo' self."</p>
    </div>
    <!-- nav  -->
    <div class="col-lg-4 mt-3 mb-3">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
  
    </div>

    <!-- socialmedia -->
    <div class="col-lg-2 mt-3 mb-3">
      <!-- <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a> -->
      <mat-action-list>
        <mat-icon mat-list-icon>facebook-box</mat-icon>
        >
        <mat-icon mat-list-icon>bi-whatsapp</mat-icon>
        <div _ngcontent-spurtstore-c97="" class="ftrtop-rht flex">
          <div
            _ngcontent-spurtstore-c97=""
            class="ftr-col ftr-col-addr ng-star-inserted"
          >
            <h2 >CONTACT INFORMATION</h2>
            <div _ngcontent-spurtstore-c97="" class="ftr-links">
              <p
                _ngcontent-spurtstore-c97=""
                fxlayout="row"
                fxlayoutalign="start center"
                class="mt-2"
                style="
                  flex-direction: row;
                  box-sizing: border-box;
                  display: flex;
                  place-content: center flex-start;
                  align-items: center;
                "
              >
                <mat-icon
                
                  role="img"
                  class="mat-icon notranslate mr-1 material-icons mat-icon-no-color"
                  aria-hidden="true"
                  data-mat-icon-type="font"
                  >location_on</mat-icon
                ><span _ngcontent-spurtstore-c97="">Delhi, India</span>
              </p>
              <p
            
                fxlayout="row"
                fxlayoutalign="start center"
                class="mt-1"
                style="
                  flex-direction: row;
                  box-sizing: border-box;
                  display: flex;
                  place-content: center flex-start;
                  align-items: center;
                "
              >
                <mat-icon
                
                  role="img"
                  class="mat-icon notranslate mr-1 material-icons mat-icon-no-color"
                  aria-hidden="true"
                  data-mat-icon-type="font"
                  >call</mat-icon
                ><span _ngcontent-spurtstore-c97="">768675546</span>
              </p>
              <p
                _ngcontent-spurtstore-c97=""
                fxlayout="row"
                fxlayoutalign="start center"
                class="mt-1"
                style="
                  flex-direction: row;
                  box-sizing: border-box;
                  display: flex;
                  place-content: center flex-start;
                  align-items: center;
                "
              >
                <mat-icon
                  _ngcontent-spurtstore-c97=""
                  role="img"
                  class="mat-icon notranslate mr-1 material-icons mat-icon-no-color"
                  aria-hidden="true"
                  data-mat-icon-type="font"
                  >mail_outline</mat-icon
                ><span _ngcontent-spurtstore-c97="" class="email"
                  >support@Shopperia.com</span
                >
              </p>
              <p
                _ngcontent-spurtstore-c97=""
                fxlayout="row"
                fxlayoutalign="start center"
                class="mt-1"
                style="
                  flex-direction: row;
                  box-sizing: border-box;
                  display: flex;
                  place-content: center flex-start;
                  align-items: center;
                "
              >
                <mat-icon
                  _ngcontent-spurtstore-c97=""
                  role="img"
                  class="mat-icon notranslate mr-1 material-icons mat-icon-no-color"
                  aria-hidden="true"
                  data-mat-icon-type="font"
                  >schedule</mat-icon
                ><span _ngcontent-spurtstore-c97=""
                  >Mon - Sun / 9:00AM - 8:00PM</span
                >
              </p>
             
            </div>
          </div>
          <!---->
        </div>
      </mat-action-list>
    </div>
  </div>
</div>
