<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../assets/login.jpg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <mat-card>
          <div class="container text-center">
            <img
              class="image"
              src="https://st2.depositphotos.com/16136362/45394/v/600/depositphotos_453944296-stock-illustration-safe-shopping-vector-logo-design.jpg"
              alt="Logo"
            />
          </div>
          <h1 class="text-center">Login here !!</h1>
          <!-- {{ loginData | json }}  -->
          <form (ngSubmit)="formSubmit()">
            <!---  Username field --->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User name</mat-label>
              <input
                required
                required
                [(ngModel)]="loginData.username"
                name="username"
                matInput
                placeholder="Enter here"
              />

              <mat-hint>valid username</mat-hint>
            </mat-form-field>
            <!---  Username password --->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                required
                [(ngModel)]="loginData.password"
                name="password"
                type="password"
                required
                matInput
                placeholder="Enter here"
              />
            </mat-form-field>
            <div  class="fgtpwd">
              <a
              
                routerlink=""
                href=""
                >Forgot Password?</a
              >
            </div>
            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">
                Login
              </button>
              <button class="ml20" mat-raised-button color="accent">
                Reset
              </button>
            </div>
            <p class="alread-acc text-center">
              Don't have an account? <a href="/signup">Register Now</a>
            </p>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
