img{
 
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
mat-card {
   
    border-right: none;
    background: #1a386c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }